body{
  margin: 5px;
  padding: 0;
}

.game-container {
  width: 98%;
  height: 90vh;
  border: 1px solid #000;
  text-align: center;
  background: #000;
}

button {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
  background: blue;
  border: none;
  color: white;

}

h1 {
  background: #000;
  color: #fff;
}
/* PROVISORY JUST TO GIVE SOME SPACE FROM THE BORDER */
section {
  padding: 10px;
}